.DS_Store
_*.*
.trae
__pycache__/
.states
*.db
assets/external/
.web
*.py[cod]
.git
__pycache__/*
.DS_Store
.gitignore
.venv/*
.github/copilot-instructions.md
!.github/workflows/*
.states/*
.vscode/*
